
.card{
    margin: 20px 0;
}
.single-card>.card-img{
    width:100%;
    height: 400px;
}
.single-card .img{
    object-fit: cover;
    width: inherit;
    height: inherit;
}
.single-card .card-body{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}